.players-list {
    .player-item {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #444;

        div {
            margin: 0 10px;
        }
    }

    .active {
        background-color: #ec1818;
    }
}