

.info-box {
	& + & {
		margin-top: 4px;
	}

	position: relative;
    width: 80%;
    margin-top: 16px;
    min-height: 160px;
	margin-top: 8px;
	/* background-color: white; */
	border-radius: 8px;
	box-shadow:
		0 0 6px rgb(23 24 24 / 6%),
		0 1px 2px rgb(0 0 0 / 15%);
	padding: 15px 16px;

	&__content {
		display: flex;
        /* flex-direction: column; */
		font-size: 16px;
        /* flex: 1; */
	}

	&__title {

		display: flex;
	}

    &__title h4 {
        margin: 0;
        padding: 0;
        border: 0;
    }

	&__icon {
		color: #005ABE;
		margin-right: 10px;
		min-width: 22px;
	}

	&__bar {
		position: absolute;
		border-radius: 8px 0 0 8px;
		left: 0;
		top: 0;
		height: 100%;
		width: 5px;
		background-color: #005ABE;
	}

}

    .info-box__toggle {
        cursor: pointer;
        padding: 10px;
    }

    .info-box__rules {
        overflow-y: scroll;
        scrollbar-color: black #282c34;
        padding: 20px;
    }