body {
  background-color: #282c34;
  color: beige;
}

.App {
      margin-left: 20px;

  /* text-align: center; */

  .players-list {
    margin-left: 20px;
  }
}

button {
  border: none;
  border: 2px solid;
  border-radius: 4px;
  padding: 11px 16px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  height: 40px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  background-color: rgb(39, 14, 14);
  border-color: rgb(116, 33, 33);
  color: rgb(235, 66, 66);

    @media (pointer: fine) { 
      &:hover:not(:disabled) {
        border-color: #a82c0d;
        background-color: #a82c0d;
      }
    }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.4; 
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
